<main>
    <div class="container-lg text-center justify-content-center my-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="green" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
        </svg>
        <h5>Your booking is complete!</h5>
        <div class="text-start text-break">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-lg-4">
                    <img src="{{hotel.coverPhoto.source}}" height="200" alt="{{hotel.coverPhoto.description}}">
                </div>
                <div class="col-lg-8 my-3">
                    <iframe class="" width="100%" height="200" src="{{hotel.googleMapsEmbedLink}}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            {{>bookingConfirmationPartial booking=booking}}
            <div class="row align-items-center justify-content-center mt-3">
                <h6 class="col-lg-8">Notes</h6>
            </div>
            <div class="row align-items-center justify-content-center">
                <ul class="col-lg-8">
                    <li class="ms-5">You can manage your booking <a href="/manageBooking/{{booking.id}}" class="link-primary">here</a>.</li>
                    <li class="ms-5">You may change your booking dates once without extra fee.</li>
                </ul>
            </div>
        </div>
        <a href="/" type="button" class="btn btn-primary my-3">Return to home</a>
    </div>
</main>