<main class="d-flex justify-content-center align-items-center login my-auto">
    <div class="card d-inline-flex m-4" style="border-radius: 1rem;">
        <div class="d-inline-flex p-5  justify-content-center text-black ">
            <div class="d-flex align-items-center">
                <form action="/doLogin" method="post" class="needs-validation" novalidate>
                    <h3 class="fw-semibold mb-3 pb-3" id="heading">Log into your account</h3>
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="form-floating mb-4 me-lg-2 register-only">
                            <input type="text" class="form-control" id="fname" placeholder=" " name="user_fname">
                            <label for="fname">First Name</label>
                            <div class="invalid-feedback">
                                Please provide a first name
                            </div>
                        </div>
                        <div class="form-floating mb-4 ms-lg-2 register-only">
                            <input type="text" class="form-control" id="lname" placeholder=" " name="user_lname">
                            <label for="lname">Last Name</label>
                            <div class="invalid-feedback">
                                Please provide a last name
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control" id="e-mail" placeholder=" " name="user_email" required>
                        <label for="e-mail">Email address</label>
                        <div class="invalid-feedback">
                            Please provide a valid email
                        </div>
                    </div>
                    <div class="form-floating mb-4 password">
                        <input type="password" class="form-control" id="password" placeholder=" " name="user_password" required>
                        <label for="password">Password</label>
                        <div class=" invalid-feedback invalid-feedback-login">
                            Password is incorrect    
                        </div>
                        <div class="invalid-feedback-register">
                            Password must contain:
                            <ul id="passwordList">
                                <li id="lengthMatch">8-32 characters</li>
                                <li id="numberMatch">a number</li>
                                <li id="lowerCaseMatch">a lower case letter</li>
                                <li id="upperCaseMatch">an upper case letter</li>
                                <li id="specialCharacterMatch">a special character</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-floating mb-4 register-only" id="repeat_div">
                        <input type="password" class="form-control" id="repeat_password" placeholder=" ">
                        <label for="password">Repeat Password</label>
                        <div class="invalid-feedback" id="repeat_password_message">
                            The passwords don't match
                        </div>
                    </div>
                    {{#if accountNotFound}}
                        <div class="d-flex justify-content-center mb-4 error" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mt-1 me-2 error-svg" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Wrong email or password
                        </div>
                    {{/if}}
                    {{#if emailInUse}}
                        <div class="d-flex mb-4 error" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mt-1 me-2 error-svg" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            This email is already in use. Try logging in instead.
                        </div>
                    {{/if}}
                    {{#if restoreAccount}}
                        <div class="d-flex mb-4 success" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill mt-1 me-2 success-svg" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            Check your email for a link to restore your account.
                        </div>
                    {{/if}}
                    <div class="mb-4">
                        <input type="hidden" name="referer" value="{{referer}}">
                        <button class="w-100 btn btn-dark btn-lg" type="submit">Login</button>
                    </div>
                    <div class="links">
                        <div class="link-secondary login-only" id="toPwdForgot">Forgot your password?</div>
                        <div class="link-secondary register-only" id="toLogin">Already have an account? Login</div>
                        <div class="link-secondary login-only" id="toRegister">Don't have an account? Register</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>