<main class="d-flex justify-content-center align-items-center login my-auto">
    <div class="card d-inline-flex m-4 shadow" style="border-radius: 1rem;">
        <div class="d-inline-flex p-5  justify-content-center text-black ">
            <div class="d-flex flex-column">
                <h3 class="mb-4">Page not found</h3>
                <img src="/assets/page-not-found.jpg" class="align-self-center mb-4" width="200" alt="Page not found image">
                <p class="mb-4">Oops, seems like you've reached a page that doesn't exist.</p>
                <a href="/" class="align-self-center">
                    <button type="button" class="btn btn-primary">Go back to the home page</button>
                </a>
            </div>
        </div>
    </div>
</main>