<main>
    {{#unless error}}
    <div class="d-flex flex-column justify-content-center align-items-center mx-4 my-5" id="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="green" class="bi bi-check2-circle mb-2" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
        </svg>
        <p class="fs-5 text-center">Your account has been successfully restored and you're now logged in. We've sent you an email with your new password.</p>
    </div>
    {{/unless}}
    {{#if error}}
    <div class="d-flex flex-column justify-content-center align-items-center mx-4 my-5" id="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="red" class="bi bi-x-circle mb-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <p class="fs-5 text-center">The link you followed is not valid anymore. <a href="/login">If you want to restore your account, go to the login page.</a></p>
    </div>
    {{/if}}
</main>