<main>
    <div class="d-flex flex-column justify-content-center align-items-center mx-4" id="container">
        <div class="spinner-border text-primary" role="status" id="spinner"></div>
        <p class="mt-5 fs-4 text-center">{{message}}</p>
    </div>
</main>