#introCarousel .carousel-inner img {
    height: calc(100vh - 126px);
    min-height: 720px;
    object-fit: cover;
}

#introCarousel .carousel-control-prev, .carousel-control-next {
    transition: background-color .15s ease;
}

#introCarousel .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.guests {
    width: 40px;
    height: 40px;
    font-size: 35px !important;
    padding: 0 !important;
}

.guests span {
    position: relative;
    top: -4px;
}

#adultsCount, #childrenCount, #infantsCount {
    width: 10px; 
}

.age-description {
    font-size: x-small;
}

@media (min-width: 992px) {
    #daterange {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-radius: unset;
        border-bottom-left-radius: var(--bs-border-radius);
        border-top-left-radius: var(--bs-border-radius);
    }

    #search {
        border-radius: unset;
        border-bottom-right-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }
}

@media (max-width: 992px) {
    #daterange {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-radius: unset;
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }

    #search {
        border-radius: unset;
        border-bottom-left-radius: var(--bs-border-radius);
        border-bottom-right-radius: var(--bs-border-radius);
    }
}