.bookingCode {
    font-size: small;
}

.cancelled {
    color: gray;
    font-size: small;
}

.daterangepicker {
    position: relative !important;
    top: 0 !important;
    width: fit-content !important;
    border: unset !important;
}

.daterangepicker::before {
    border: unset !important;
}

.daterangepicker.show-calendar .drp-calendar {
    display: flex !important;
}

.daterangepicker>* {
    float: unset !important;
}

@media (min-width: 992px) {
    .daterangepicker.show-calendar {
        display: flex;
    }

    #profileColumn {
        max-width: 300px;
    }
}

#fileInputHidden {
    display: none;
}

.profilePhotoImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.iti {
    width: 100%;
}

.link-primary {
    text-decoration: underline;
}
.link-primary:hover {
    cursor: pointer;
}

#passwordList li.check {
    list-style-image: url("../assets/check-lg-green.svg");
    color: #198754;
}

#passwordList li.x {
    list-style-image: url("../assets/x-lg.svg");
    color: #dc3545;
}