.calendarControls {
    background-color: white;
    border: unset;
}

table {
    table-layout: fixed;
}

@media (max-width: 576px) {
    #roomRackContainer {
        width: 100vw;
    }
}

thead .roomHeader, tbody th {
    width: 55px;
}

thead .dayHeader, tbody td {
    width: 100px;
}

tbody td {
    position: relative;
}

.entry {
    background-color: burlywood;
    border-radius: 15px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color .3s;

    position: absolute;
    z-index: 1;
    left: 50%;
}

.entry:hover {
    background-color: rgb(184, 153, 112);
    cursor: pointer;
}

.entry.overlapping {
    background-color: firebrick;
    color: white;
}

.entry.overlapping:hover {
    background-color: rgb(130, 20, 20);
}

.entry.extendsLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
}

.entry.extendsRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}