body {
    background: linear-gradient(45deg, rgba(141,189,255,1) 0%, #ff7f50 100%); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

label {
    color: gray;
}

.btn-dark {
    background-color: var(--brand-background-elements);
}

.btn-dark:hover {
    background-color: var(--brand-background-elements-hover);
}

@media (min-width: 992px) {
    #e-mail {
        width: 428.8px;
    }
    .was-validated #e-mail {
        width: 476.8px;
    }
}

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}