:root {
    --brand-business-name: rgb(55, 65, 81);
    --brand-slogan: rgb(55, 65, 81);
    --brand-icon: rgb(55, 65, 81);
    --brand-background: rgb(141, 189, 255);
    --brand-background-elements: rgb(55, 65, 81);
    --brand-background-elements-hover: rgb(35, 25, 25);
    --brand-foreground-elements: rgb(141, 189, 255);
}
