header, footer, .offcanvas {
    background-color: var(--brand-background);
}

/* li.dropdown selects only the dropdowns of the navbar, not the profile dropdown */
@media (min-width: 992px) {
    li.dropdown:hover .dropdown-menu {
        display: block;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-1rem);
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}

:not(.btn-group)>.dropdown-menu {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: both;

    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
}
